@font-face {
    font-family: "RobotoMono-Medium";
    src: url("assets/fonts/RobotoMono-Medium.ttf");
}

html {
    font-family: "RobotoMono-Medium", sans-serif;
    background: url("assets/wallpapers/desert.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

h1 {
    font-size: 80px;
}

h1, h2 {
    color: #fff;
}

#time {
    margin-bottom: 0px;
}

#date {
    margin-bottom: 50px;
}

.main {
    margin-top: 15%;
}

.center {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

input {
    min-width: 850px;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    background-color: transparent;
    font-size: 20px;
}

input:focus {
    outline: none;
}

::placeholder {
    color: #fff;
    opacity: 1;
}

#links {
    display: inline-block;
}

.box {
    background-color: #2f2f2f90;
    width: 150px;
    height: 220px;
    float: left;
    margin: 30px 30px;
    border-radius: 10px;
    padding-left: 0;
}

a, a:visited, a:hover {
    text-decoration: none;
}

a, a:visited {
    color: #fff;
}

a:hover {
    color: #d3d3d3;
}

li {
    padding: 25px 0;
    list-style: none;
}
